* {
    margin: 0;
}

.appoints {
    padding: 20px;
    background:#d4edda;
}
.experts {
    overflow: auto;
    height: 240px;
    padding: 0px 15px 0px 0px;
}
.expert {
    list-style-type: none;
    padding: 0px 10px 10px 10px;
    margin: 0;
}
.expert:hover {
    background: #d6e2dc;
    cursor: pointer;
}

.expert_name, .branch, .position, .hr {
    margin: 0;
}
.expert_name {
    font-weight: bold;
}
.position, .branch {
    font-size: 14px;
}

.doctor_active {
    background: lightgrey;
}
.calendar_cont {
    display: flex;
    justify-content: space-between;
    margin: 47px 0;
    width: 100%;
}
.hour_list {
    width: 370px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.hour {
    width: 100px;
    height: 40px;
    border: 1px solid lightgray;
}
.blue_hour {
    width: 100px;
    height: 40px;
    border: 1px solid lightgray;
    background: #4f6ebd;
    color: whitesmoke;
}
.hour:hover {
    background: lightblue;
}
span.blue_box {
    padding: 0px 10px;
    background: blue;
}

span.gray_box {
    padding: 0px 10px;
    background: #b4b3b3;
}

.hour_cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
