* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: sans-serif;
  }
  
  .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  header {
    height: 900px;
    width: 100%;
    background: url("../../../public/1.jpg") no-repeat 0% -25% / cover fixed;
    background-size: cover;
    position: relative;
  }
  header:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.3;
    z-index: 1;
  }
  .navbar{
    position: relative;
    color: white;
    z-index: 2;
  }
  
  /* .nav {
    width: 40%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  } */
  
  .navbar {
    /* padding: 20px; */
    display: flex;
    font-size: 20px;
  }
  .navbar a{
    margin: 0px 20px;
    text-decoration: none;
    color: #fff;
  }
  
  .reg {
    position: relative;
    z-index: 2;
    padding-top: 220px;
    color: #fff;
  }
  .reg h1{
  
    text-transform: uppercase;
    font-weight: 500;
    font-size: 44px;
    letter-spacing: 5px;
    color: #fff;
  }
  
  .line {
    border-top: 2px solid #fff;
    width: 400px;
    text-align: center;
    margin: 30px  auto 0;
  }
  .reg h3{
    margin-top: 20px;
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 26px;
  }
  
  .reg button {
    box-shadow: 0 0 18px hsl(0deg 0% 100% / 79%);
    font-size: 30px;
    letter-spacing: 0.4px;
    margin-top: 50px;
    padding: 20px 120px;
    background-color: #04bbce;
    color: #fff;
    border: 3px solid #04bbce;
    border-radius: 7px !important;
    transition: all .3s ease-in;
  }
  
  
  .reg button:hover {
    background-color: #fff;
    color: #000;
    
  
  }
  section {
    margin: 0 auto;
    margin-bottom: 200px ;
  }
  .appointment .line, .section_3 .line {
    margin-top: 50px;
    border-top: 3px solid #000;
    width: 80px;
  }
  .appointment h1{
    margin-top: 30px;
    font-size: 36px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
  }
  
  .appointment p{
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
  }
  .var {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  .option {
    display: flex;
    margin-top: 50px;
    align-items: baseline;
    width: 100%;
    justify-content: center;
  }
  .option .num{
    border: 1px solid #04bbce;
    padding: 10px 20px;
    border-radius: 50%;
    margin-right: 20px;
    color: #fff;
    font-size: 24px;
    background-color: #04bbce;
  }
  .option p{
    font-size: 22px;
    
  }
  footer {
    background-color: #04bbce;
  }
  .container {
    display: flex;
    width: 40%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 50px 0;
  
  }
  .container p{
    font-size: 26px;
    color: #fff;
  }

  .options {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    width: 78%;
}

.option_img_l {width: 160px;}
.option_img {width: 240px;}

.steps_title {
  font-family: fantasy;
  letter-spacing: 2px;
  font-size: 30px;
  line-height: 40px;
  margin-top: 20px;
}
  
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media screen and (max-width: 800px) {
    .reg button {
      padding: 10px 20px;
      font-size: 17px;
      margin-top: 35px;
    }
    .reg {
      padding-top: 120px;
    }
    .container p{
      font-size: 16px;
    }
    header {
      height: 500px;
      width: 100%;
      background: url("../../../public/1.jpg") no-repeat cover;
      background-size: cover;
      position: relative;
    }
    .navbar {
      padding: 5px 10px;
    }
    .navbar a{
      margin: 0px 0px;
    }
    .navbar-brand {
      margin-right: 0;
      font-size: 17px;
    padding: 15px 0;
    }
    .line {
      width: 300px;
    }
    .reg h3{
      font-weight: 700;
      font-size: 16px;
    }
    .reg h1{
      margin-top: 20px;
      letter-spacing: 3px;
      font-size: 26px;
    }
    .appointment h1 {
      font-size: 22px;
    }
    .appointment p {
      margin-top: 15px;
      font-size: 16px;
    }
    .option .num {
      padding: 0px 12px;
      margin-right: 20px;
      font-size: 25px;
    }
    .option p {
      font-size: 16px;
    }
    .steps_title {
      font-family: fantasy;
      letter-spacing: 0px;
      font-size: 22px;
      line-height: 38px;
      width: 90%;
      margin: auto;
      padding-top: 25px;
    }
    section {
      margin-bottom: 100px;
    }
    .option_img_l {width: 120px;}
.option_img {width: 160px;}
  
  }