* {
    margin: 0;
    font-family: 'Roboto', sans-serif;;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap');

.input {
    width: 100%;
    height: 40px;
    padding: 0 14px;
    border: 1px solid #DBDBDB;
    font-size: 14px;
    outline: none;
    border-radius: 8px;
}

.label {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    color: #253246;
}
.input_cont {
    text-align: start;
    width: 100%;
}
.button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: #04bbce;
    color: #fff;
    border: 2px solid #04bbce;
    border-radius: 50px;
    margin-top: 30px;
}
.button:disabled {
    background-color: lightgray;
    border: #253246;
}
/* .button:hover {
    background: white;
    color: #04bbce;
    cursor: pointer;
} */

.modal-header {
    background: #00b8d6;
    color: white;
}

.btn-primary:focus {
    background-color: #04bbce;
    border-color: #04bbce;
    box-shadow: 0 0 0 0.25rem #04bbce;
}
.btn-primary:hover {
    border-color: #04bbce;
}
.flex {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

}

.navbar-dark .navbar-nav .nav-link {
    color: #31383C;
}
.error {
    color: red;
}
.cs-message__content {
    color: white !important;
    /* background: #6ea9d7 !important; */
}
.cs-message--incoming .cs-message__content {
    background-color: #8fb1b9 !important;
}
.cs-message--outgoing .cs-message__content {

    background-color: #749ca8 !important;
}
.cs-message-input__content-editor-wrapper, .cs-message-input__content-editor, .cs-main-container>.cs-sidebar.cs-sidebar--left .cs-search, .cs-search__input {
    background-color: #92bfcd !important;
    color: #fff !important;
}
svg:not(:root).svg-inline--fa {
    color: #92bfcd !important;
}

@media screen and (max-width: 900px) {
    .input {
        height: 35px;
        padding: 0 10px;
        font-size: 12px;
    }
    .label {
        font-size: 14px;
    }
    .button {
        padding: 8px 0;
        font-size: 14px;
        color: #fff;
        border: 1px solid #04bbce;
        border-radius: 8px;
        margin-top: 15px;
    }
    .css-qivjh0-MuiStepLabel-label {
        font-size: 0.775rem;
    }
    .css-1bw0nnu-MuiStep-root {
        padding-left: 5px;
        padding-right: 5px;
    }
    .navbar-dark .navbar-toggler {
        display: none;
    }
  }