.appoint_container {width: 100%;display: flex;}

ul.appoint_list {margin: auto;padding: 50px;list-style: none;display: flex;flex-direction: column;gap: 20px;font-size: 20px;font-family: sans-serif;}
.row {
    border: 2px solid black;
    padding: 20px;
}

.css-1wvnaxz-MuiTableCell-root.MuiTableCell-head, .css-1nslmh4-MuiTableCell-root.MuiTableCell-head  {
    background-color: #799aeb !important;
    color: #fff;
}
.table_cont {width: 80%;margin: auto;margin-top: 40px;}

.card {
    width: 200px;
    border: 1px solid #1d252b;
    padding: 10px;
}   
.card_cont {
    padding: 40px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
    
}
.card_text {
    font-weight: bold;
    color: #1d252b;
    margin-top: 10px;
}
.card_text_grey {
    color: grey;
}
